@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Roboto:wght@300;400&family=Sacramento&display=swap');

$large-breakpoint: 1280px;
$medium-breakpoint: 768px;
$max-width: 1248px;

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: $large-breakpoint) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: $medium-breakpoint) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: $medium-breakpoint) {
      @content;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 16px;
}

main {
  max-width: $max-width;
  margin: 0 auto;

  title,
  h1,
  h2,
  h3 {
    font-family: 'Encode Sans Condensed', sans-serif;
  }
}

hr.fade-edges {
  margin: 2rem 0;
  height: 1px;
  border: 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #666));
}

header {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & + hr.layout-header-divider {
    margin-top: 16px;
  }

  .title {
    display: block;
    font-family: Sacramento, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    flex: 0 0 auto;
    text-align: center;
    color: black;
    text-decoration: none;
  }

  .menu {
    font-size: 2rem;
    color: #666;

    @include breakpoint(medium) {
      position: relative;
    }

    .menu-button {
      cursor: pointer;
      transition: all 0.25s;
    }

    &.active {
      .menu-button {
        transform: rotate(-180deg);
      }
      & > .menu-content {
        display: block;
      }
    }

    &.active,
    &:hover {
      color: #000;
    }

    .menu-content {
      width: 100%;
      box-sizing: border-box;
      display: none;
      font-size: 1rem;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.9);
      z-index: 10;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;

      @include breakpoint(medium) {
        width: auto;
      }

      .search {
        position: relative;

        input {
          border: 1px solid #aaa;
          border-radius: 9999px;
          padding: 0.5rem 1rem;
          outline: none;
          box-sizing: border-box;
          width: 100%;

          @include breakpoint(medium) {
            width: 250px;
          }
        }
      }

      a {
        color: black;
        text-decoration: none;
      }

      h3 {
        margin: 1rem 0;
      }

      ul {
        padding-left: 1rem;

        li {
          list-style: none;

          a {
            display: block;
          }
        }
      }
    }
  }
}

footer {
  max-width: $max-width;
  margin: 2rem auto;
  font-size: 1rem;
  color: #666;
  text-align: center;

  a {
    color: #666;
  }
}
