.recipe-card-section {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
  }

  a.recipe-card {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid #aaa;
    border-radius: 16px;
    overflow: hidden;

    .details {
      padding: 1rem;
    }
  }
}
