@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Roboto:wght@300;400&family=Sacramento&display=swap');

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$custom-colors: (
  'light-site': #eee,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

img.fit {
  max-width: 100%;
  height: auto;
}

header {
  z-index: 999;
  a.title {
    color: $dark;
    text-decoration: none;
    font-family: Sacramento, sans-serif;
    transform: translateY(0.5rem);
  }

  .offcanvas-collapse {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 100%;
    width: 100%;
    z-index: 500;
    touch-action: pan-y;

    @include media-breakpoint-up(lg) {
      width: 100%;
      max-width: 350px;
    }

    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background: $gray-900;
    transition-timing-function: ease-in-out;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans Condensed', sans-serif;
}

footer {
  a {
    color: #666;
  }
}
