@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

main.recipe {
  .ingredients {
    ul {
      @include media-breakpoint-between(sm, lg) {
        columns: 2;
      }
    }
  }

  .instructions {
    .instruction-set + .instruction-set {
      margin-top: 2rem;
    }
    ol {
      list-style: none;
      counter-reset: item;

      padding: 0 0 0 3rem;

      li {
        counter-increment: item;
        padding: 0.5rem 0;
        position: relative;

        margin-top: 0.5rem;

        p {
          margin: 0;
        }
      }

      li:before {
        position: absolute;
        left: -3rem;
        top: 0;
        transform: translateY(10%);
        content: counter(item);
        background: #666;
        border-radius: 100%;
        color: white;
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        display: inline-block;
      }
    }
  }

  .tips {
    li {
      margin: 1rem 0;
    }
  }
}
