@import 'layout';
@import 'recipeCardSection';

main.search-no-results {
  @include breakpoint(medium) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 600px;
  }

  .new-search {
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;

    input {
      border: 0;
      outline: none;
      height: 100%;
      width: calc(100% - 2rem);
      padding: 0.5rem;
      box-sizing: border-box;
      font-size: 1.25rem;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
    }
  }
}
